<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>NgMadLibs - Automate This!</title>
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
  <link href="css/screen.css" rel="stylesheet">
  <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
  <!--<script type="text/javascript" src="script.js"></script> -->
  </head>

  <body ng-app="">
  	<div class="container container_madLibs">
  		<header>
        <div class="smile"></div>
        <div class="page-title">
          <div class="page-title__logo"></div>
          <h1>Automate This!</h1>
        </div>
  		</header>
      <section>
        <h2>Provide the following words:</h2>
        <div class="inputs">
            <input placeholder="Male name" type="text" ng-model="maleName"/>
            <input placeholder="Dirty task" type="text" ng-model="dirtyTask"/>
            <input placeholder="Obnoxious celebrity" type="text" ng-model="obnoxiousCelebrity"/>
        </div>
        <div class="inputs">
            <input placeholder="Job title" type="text" ng-model="jobTitle"/>
            <input placeholder="Celebrity" type="text" ng-model="celebrity"/>
            <input placeholder="Huge number" type="text" ng-model="hugeNumber"/>
        </div>
        <div class="inputs">
            <input placeholder="Tedious task" type="text" ng-model="tediousTask"/>
            <input placeholder="Useless skill" type="text" ng-model="uselessSkill"/>
            <input placeholder="Adjective" type="text" ng-model="adjective"/>
        </div>
      </section>
      <section>
        <p>{{maleName}} was a {{jobTitle}} who loved technology. Although he loved parts of his job, he absolutely hated  {{tediousTask}} and {{dirtyTask}}. So, {{maleName}} met with his life mentor {{celebrity}} who told him to learn how to {{uselessSkill}} with Thinkful. Thinkful didn't offer a course on {{uselessSkill}} so he studied programming instead.<p>
        <p>What a great decision! With his new skills, {{maleName}} built a(n) {{adjective}} robot named {{obnoxiuousCelebrity}} that not only loved {{dirtyTask}} but did it {{hugeNumber}} faster.</p>
      </section>
    </div><!-- end .container -->
	</body>
</html>
